.card_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
}
.card_about_us{
    margin: 30px;
    padding: 3px;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 140, 199);
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-decoration: none;
}
.about_us_txt{
    color: inherit;
    text-decoration: none;
}
.about_us_txt:hover{
    display: flex;
    color: brown;
}