.card_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
}
.card_about_us{
    margin: 30px;
    padding: 3px;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #178cc7;
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    text-decoration: none;
}
.about_us_txt:hover{
    display: flex;
    color: brown;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #1fa4eb;
}